.container {
    background: var(--white);
    width: 100%;
    display: flex;
    
}

.container-title {
    padding-top: 60px;

    h1 {
        padding: 50px;
        width: 750px;

        color: var(--black);
        
        font-family: var(--font3);
        font-size: 3.6rem;   
    }
}

.container-info {
    padding-top: 0px;
    
    div {
        padding: 50px;
        padding-top: 40px;
    }

    h2 {
        color: var(--black);
        width: 450px;

        font-size: 1.8rem;
        font-family: var(--font3);
        font-weight: 600;        
    }

    p {
        width: 380px;
        padding-left: 43px;

        font-size: 1.3rem;
        font-family: var(--font3);
    }
}

.icons-first {
    padding-top: 55px;
    padding-left: 43px;
    
    width: 25px;
    height: 25px;
}

.icons {
    padding-left: 43px;
    
    width: 25px;
    height: 25px;
}