.container {
    display: flex;
}

.container-light {
    width: 50%;
    height: 800px;
    background: var(--purple-classic);

    padding-top: 17px;

    h1 {
        color: var(--white);
        font-size: 3rem;
    }

    h3 {
        color: var(--white);
        width: 520px;

        padding-left: 46px;
        font-size: 1.3rem;
    }

    img {
        padding: 47px;
        width: 750px;
        height: 450px;
    }

    a {
        color: var(--white);
        font-size: 1.2rem;
        padding: 47px;
    }
}

.container-dark {
    width: 50%;
    height: 800px;

    padding-top: 17px;
    background: var(--purple-dark);
    color: var(--white);

    h1 {
        color: var(--white);
        font-size: 3rem;
    }

    h3 {
        font-size: 1.3rem;
        color: var(--white);
        width: 520px;

        padding-left: 46px;
    }

    img {
        width: 750px;
        height: 450px;

        padding: 47px;
    }

    a {
        color: var(--white);
        font-size: 1.2rem;
        padding: 47px;
    }
}